* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.dropdown-menu {
  padding: 0 !important;
}
h1 {
  color: #d6794d;
  text-align: center;
  padding-bottom: 2rem;
}
/* Hero Text */
.hero-caption {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  animation: zoomInLeft;
  animation-duration: 2s;
}
.hero-text {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  animation: zoomInRight;
  animation-duration: 2s;
}
.slide-1 {
  margin-top: 20rem;
  text-shadow: -1.5px 0 #d6794d, 0 1.5px #d6794d, 1.5px 0 #d6794d,
    0 -1.5px #d6794d;
}
.slide-2 {
  margin-top: 20rem;
  text-shadow: -1.5px 0 #d6794d, 0 1.5px #d6794d, 1.5px 0 #d6794d,
    0 -1.5px #d6794d;
}
.slide-3 {
  margin-top: 20rem;
  text-shadow: -1.5px 0 #d6794d, 0 1.5px #d6794d, 1.5px 0 #d6794d,
    0 -1.5px #d6794d;
}

.siteWrapper h1,
h2 {
  color: #919191;
}
h2 {
  font-size: 1.5rem !important;
  color: #638ecf;
}
a {
  text-decoration: none !important;
  color: #fff;
}
ul {
  padding-left: 0 !important;
}
.header {
  background-color: #004172;
  color: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0.3rem 0.6rem;
}
.phone,
.facebook {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.siteContainer {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.pageContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.sideNav {
  width: 16rem;
  margin-top: 0.5rem;
}
.sideNavHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 2px #004172;
  color: #d6794d;
}
.sideNavHeader h4 {
  font-size: 1.3rem;
  margin: 0;
}
.sideNav ul {
  list-style: none;
}
.sideNav ul li {
  border-bottom: solid 2px #004172;
  margin: 0;
}
.sideNav ul li a {
  display: block;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.sideNav ul li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0c92da;
}
a.active {
  background-color: #0c92da;
  color: #fff;
}

.content {
  text-align: justify;
  width: 70%;
}
.siteWrapper {
  margin: 0 auto;
  min-width: 80%;
  max-width: 1400px;
}

/* Harta Site */
.titlu-Harta{
  text-align: center;
  padding-top: 1.5rem;
}
.descriere-Harta{
  padding-top: 1.5rem;
  color: #999999;
  font-size: 1.3rem !important;
}
.subtitlu-Harta{
  font-size: 2rem;
  color: #d6794d;
  padding-top: 1.5rem;
}
.subarrow{
  margin-top: 0.5rem;
}
.main-category{
  padding-top: 1.5rem;
  color: #d6794d;
  font-size: 1.3rem;
  list-style-type: none;
}
.main-category li{
  list-style-type: none;
  padding-left: 2rem;
}
.main-category li:hover{
  margin-left: 1rem;
}
.main-category .ms{
  padding-top: 1.5rem;
  color: #d6794d;
  font-size: 1.5rem;
  list-style-type: none;
}
.main-category .svg{
  width: 10%;
}
.main-category li{
  font-size: 3rem;
}
.soloLink{
  padding-top: 1.5rem;
  font-size: 1.3rem;
  list-style-type: none;
}
.soloLink:hover{
  margin-left: 1rem;
}

/* Harta */

.harta {
  width: 80vw;
  height: 80vw;
  max-width: 900px;
  max-height: 550px;
}
.weather {
  width: 80vw;
  margin-top: 3rem;
  max-width: 900px;
}
.Last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;

  width: 100%;
  background-color: white;
}
.Last h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* / */

.carousel img {
  max-height: 52rem;
  min-height: 25rem;
}

/* Navbar */

.navContainer {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  align-items: stretch;
  text-align: center;
  height: 100%;
}
.navbar-collapse {
  text-transform: uppercase;
  flex-grow: 0 !important;
}
.nav-item,
.nav-link {
  font-size: 1rem;
  height: 100%;
}
.navbar a {
  color: #638ecf !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #638ecf !important;
  padding: 1.6rem 0.8rem !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white !important;
  background-color: #0c92da;
}
.dropdown-item {
  font-size: 0.9rem;
  padding: 1rem 0.5rem !important;
}
.dropdown-item:hover {
  color: white !important;
  background-color: #0c92da !important;
}

/* / */

/* Adrese utile */

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;
}
.block {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  border-radius: 8px;
  border-top: 1px solid #88b812;
  border-top-width: 4px;
}
.blockTitle {
  text-align: center;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
}
.blockBody {
  list-style: none;
  word-wrap: break-word;
}
.icon span {
  padding-left: 0.5rem;
}
.icon {
  position: relative;
}
.icon svg {
  position: absolute;
  left: 0;
  top: 5px;
  color: #0c92da;
}
.blockBody a {
  text-decoration: none;
  color: #0c92da;
}
.block-link:hover {
  text-decoration: underline;
}

.wide {
  width: 80%;
  margin: 0 auto;
}

/* / */
.mol {
  width: 80vw;
  margin: 0 auto;
  padding-top: 2rem;
}
/* Eroii comunei */

.monument h2 {
  text-align: center;
  margin: 1rem 0;
}

/* / */

/* Institutii de Invatamant */
.scoli h2,
.img-scoala {
  margin-bottom: 1rem;
}
/* / */

/* Declaratii de interese */

.list {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  flex-direction: column;
  gap: 1.5rem;
}

.pdf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #0c92da;
  text-align: justify;
}

.pdf svg {
  min-width: 10%;
  max-width: 10%;
}
.date {
  min-width: 15%;
}
.pdf .date {
  color: #333;
  text-align: center;
}
.pdf:hover {
  background-color: #ddd;
}

/* / */

/* Evenimente */
.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  text-align: center;
}
.event-title p {
  color: #d6794d;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* / */

@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: space-between !important;
  }
}
@media (max-width: 1250px) {
  .pageContainer,
  .navContainer,
  .header-container {
    width: 90%;
  }
}
/* @media (max-width: 900px) {
  .harta {
    width: 80vw;
    height: 80vw;
  }
  .weather {
    width: 80vw;
  }
} */

@media (max-width: 900px) {
  .pageContainer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}
@media (max-width: 600px) {
  .pageContainer,
  .navContainer,
  .header-container {
    width: 95%;
  }
  .content {
    width: 90%;
  }
  .mol {
    width: 100vw;
  }
}
@media (max-width: 350px) {
  .list {
    display: flex;
    flex-direction: column;
  }
  .blocks {
    display: flex;
    flex-direction: column;
  }
  .block {
    width: 100%;
    margin: 0 auto;
  }
}
